html{
	font-family: 'Open Sans', sans-serif;	
	position: relative;
}

body{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.contact-address{
	font-style: normal;
	padding-top: 12px;
	position: relative;
}

@media only screen and (max-width: 1200px) {
    .contact-address{
    	padding-top: 0;
    }
}

@media only screen and (max-width: 670px) {
    .contact-address{
    	display: none;
    }
}

.container{
	margin: 0 auto;
	max-width: 1440px;
	padding-left: 120px;
	padding-right: 120px;
}
@media only screen and (max-width: 1200px) {
    .container{
	    width: 900px;
	    padding-left: 10px;
	    padding-right: 2px;
	} 
}

@media only screen and (max-width: 915px) {
    .container{
	    width: 648px;
	    padding-left: 10px;
	    padding-right: 10px;
	} 
}

@media only screen and (max-width: 670px) {
    .container{
	   width: 100%;
	   padding-left: 0;
	   padding-right: 0;
	} 
}

.contact-address__holder{
	background: #FED600;
	height: 32px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.contact-address__link{
	outline: none;
	text-decoration: none;
	font-size: 13px;
	line-height: 17.7px;
	color: #000000;
	font-weight: 600;
}

.select-options{
	outline: none;
	border: none;
	margin-right: 40px;
	background-color: transparent;
	color: #000000;
	font-weight: 600;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
}

@media only screen and (max-width: 1200px) {
    .contact-address__link{
    	font-size: 11.5px;
    }
}
.contact-margin{
	margin-right: auto;
}

@media only screen and (max-width: 915px) {
    .contact-margin{
    	display: none;
    }
}

.contact-address__icon:not(:last-child){
	margin-right: 19px;
}

.margin-second__text{
	margin-right: 36px;
}
.city-margin{
	margin-right: 40px;
}

.phone-margin{
	margin-right: 20px;
}

@media only screen and (max-width: 915px) {
    .phone-margin{
    	display: none;
    }
}

.background-handler{
	box-shadow: 0px 4px 48px rgba(0, 0, 0, 0.16);
	background: #FFFFFF;
	max-height: 204px;
}

.your-expert, .mobile-number{
	font-size: 13px;
	color: #000000;
	line-height: 18px;
	text-decoration: none;
	outline: none;
}

@media only screen and (max-width: 670px) {
    .your-expert{
    	display: none;
    }
}

.mobile-btn__container{
	display: none;
	cursor: pointer;
}

@media only screen and (max-width: 915px) {
    .mobile-btn__container{
    	display: block;
    }
}

.section-header{
	position: relative;
}

@media only screen and (max-width: 915px) {
    .sub-heading__1{
    	height: 60px;
    }
}


.section-header .container .mobile-number{
	font-weight: bold;
	display: none;
}

@media only screen and (max-width: 915px) {
    .section-header .container .mobile-number{
    	display: block;
    }
}

.section-header .container .your-expert{
	font-style: italic;
	font-weight: normal;
}

@media only screen and (max-width: 1200px) {
    .section-header .container .your-expert{
    	font-size: 11px;
    }
}

@media only screen and (max-width: 915px) {
    .section-header .container .your-expert{
    	font-size: 12px;
    }
}

@media only screen and (max-width: 1200px) {
    .section-header .container .sub-heading__1 .logo-container img{
    	width: 50px;
    }
}

.yandex-container{
	width: 105px;
	height: 60px;
	background: #FFFFFF;
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
	border-radius: 8px;

	display: flex;
	justify-content: center;
	align-items: center;
}

@media only screen and (max-width: 915px) {
    .yandex-container{
    	display: none;
    }
}

.section-header .container input{
	width: 521px;
	height: 44px;
	border: 1px solid #BDBDBD;
	box-sizing: border-box;
	border-radius: 4px;
	outline: none;
}

@media only screen and (max-width: 1200px) {
    .section-header .container input{
    	width: 350px;
    	height: 38px;
    }
}

@media only screen and (max-width: 915px) {
    .section-header .container input{
    	width: 480px;
    }
}

@media only screen and (max-width: 670px) {
    .section-header .container input{
    	width: 80vw;
    }
}

.section-header .container input[type=text]{
	font-family: SF Pro Text;
	font-size: 16px;
	padding-left: 10px;
	line-height: 19px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.7px;
    color: #9E9E9E;
}

@media only screen and (max-width: 1200px) {
    .section-header .container input[type=text]{
    	padding-left: 2px;
    	font-size: 13px;
    }
}

@media only screen and (max-width: 670px) {
    .section-header .container input[type=text]{
    	padding-left: 0;
    	margin-left: -120px;
    }
}

.section-header .container .sub-heading__1 form{
	position: relative;
}

@media only screen and (max-width: 915px) {
    .section-header .container .sub-heading__1 form{
    	display: none;
    }
}

.section-header .container .sub-heading__1 form button{
	background-color: #ffffff;
	border: 2px solid #D2001C;
	box-sizing: border-box;
	border-radius: 4px;
	width: 75px;
	height: 36px;
	color: #D2001C;
	position: absolute;
	top: 4px;
	right: 4px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 13px;
	line-height: 18px;
}

@media only screen and (max-width: 1200px) {
    .section-header .container .sub-heading__1 form button{
    	height: 30px;
    }
}

@media only screen and (max-width: 670px) {
    .section-header .container .sub-heading__1 form button{
    	width: 40px;
    	font-size: 11px;
    }
}

.section-header .container input::placeholder{
	font-style: normal;
	font-weight: 600;
	font-size: 13px;
	line-height: 18px;
	color: #9E9E9E;
	padding-left: 10px;
}

@media only screen and (max-width: 1200px) {
    .section-header .container input::placeholder{
    	padding-left: 5px;
    	font-size: 12px;
    }
}

.section-header .container button{
	width: 160px;
	height: 36px;
	background: #D2001C;
	border-radius: 4px;
	color: #FFFFFF;
	border: none;
	font-size: 13px;
	cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: center;
}

@media only screen and (max-width: 1200px) {
    .section-header .container button{
    	width: 155px;
    	height: 30px;
    }
}

@media only screen and (max-width: 670px) {
    .section-header .container .button-store{
    	display: none;
    }
}

.section-header .container span{
	display: flex;
	align-items: center;
}

.section-header .container .sub-heading__1 span img{
	margin-right: 10px;
}

.section-header .container button{
	cursor: pointer;
	outline: none;
}

.section-header .container button img{
	margin-right: 10px;
}

.sub-heading__1{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-top: 16px;
}
.direction-text{
	font-style: normal;
	font-weight: 600;
	color: #000000;
	text-decoration: none;
	display: flex;
	align-items: center;
	font-size: 13px;
}

@media only screen and (max-width: 1200px) {
    .direction-text{
    	font-size: 12px;
    }
}

@media only screen and (max-width: 915px) {
    .direction-text{
    	display: none;
    }
}

.direction-text img{
	margin-right: 14px;
}
.sub-heading__2{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 13px;
	margin-bottom: 22px;
}

@media only screen and (max-width: 1200px) {
    .sub-heading__2{
    	padding-right: 15px;
    }
}

@media only screen and (max-width: 915px) {
    .sub-heading__2{
    	display: none;
    }
}

.sub-heading__link{
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
	text-decoration: none;
	outline: none;
	color: #000000;
	font-size: 13px;
	line-height: 18px;
}

@media only screen and (max-width: 1200px) {
    .sub-heading__link{
    	font-size: 12px;
    }
}

.sub-heading__link:hover{
	color: #D2001C;
}
.border{
	/*opacity: 0.35;*/
	border-bottom: 1px solid rgb(189, 189, 189, 0.35); /* rgb(189, 189, 189) === #BDBDBD*/
	margin-left: -120px;
	margin-right: -120px;
}

@media only screen and (max-width: 1200px) {
   .border{
		width: 101%;
		margin: 0 auto;
		margin-left: -10px;
   }
}
@media only screen and (max-width: 915px) {
   .border{
		display: none;
   }
}
.dropdown-holder{
	margin-left: -17px;
	display: flex;
	justify-content: space-between;
}

@media only screen and (max-width: 915px) {
    .dropdown-holder{
    	display: none;
    }
}

.dropdown{
	position: relative;
    display: inline-block;
    margin-left: 15px;
}

.dropbtn{
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 1px;
	padding-right: 3px;
}
.dropbtn a{
	text-decoration: none;
	outline: none;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	line-height: 18px;
	color: #000000;
}

@media only screen and (max-width: 1200px) {
    .dropbtn a{
    	font-size: 11px;
    }
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 13px;
}

@media only screen and (max-width: 1200px) {
    .study-center{
    	transform: translateX(-44%) !important;
    }
}
@media only screen and (max-width: 1200px) {
	.services{
		transform: translateX(-76%) !important;
	}
}

@media only screen and (max-width: 1200px) {
    .dropdown-content{
    	font-size: 11px;
    }
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block; 
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #FED600;;
}

.arrow-margin{
	margin-left: 5px;
}
@media only screen and (max-width: 1200px) {
    .arrow-margin{
    	display: none;
    }
}

.container-1{
	margin: 0 auto;
	width: 1234.46px;
}

@media only screen and (max-width: 1200px) {
    .container-1 {
    	width: 900px;
	} 
}

@media only screen and (max-width: 915px) {
    .container-1 {
    	width: 648px;
	} 
}

@media only screen and (max-width: 670px) {
    .container-1{
    	width: 100%;
	} 
}

@font-face {
font-family: 'San Francisco Pro Display';
src: url('SFProDisplay-Regular.eot');
src: url('SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
url('SFProDisplay-Regular.woff') format('woff'),
url('SFProDisplay-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

.section-text__container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

@media only screen and (max-width: 670px) {
	.section-text__container{
		display: flex;
		flex-direction: column;
		max-width: 100vw;
	}
}

@media only screen and (max-width: 1200px) {
    .section-text__container .send-resume h2{
    	font-size: 23px;
	} 
}


.section-text__container .send-resume h2{
	font-family: 'SF Pro Display';
	font-size: 27px;
	font-style: normal;
	font-weight: normal;
	line-height: 32px;
	color: #000000;
}

@media only screen and (max-width: 1200px) {
    .section-text__container .send-resume h2{
    	font-size: 23px;
	} 
}

@media only screen and (max-width: 915px) {
    .section-text__container .send-resume h2{
    	font-size: 18px;
	} 
}

@font-face {font-family: "SF Pro Text";
	src: url("//db.onlinewebfonts.com/t/1c45e28f8e86cc89876f003b953cc3e9.eot");
	src: url("//db.onlinewebfonts.com/t/1c45e28f8e86cc89876f003b953cc3e9.eot?#iefix") format("embedded-opentype"), 
	url("//db.onlinewebfonts.com/t/1c45e28f8e86cc89876f003b953cc3e9.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/1c45e28f8e86cc89876f003b953cc3e9.woff") format("woff"), 
	url("//db.onlinewebfonts.com/t/1c45e28f8e86cc89876f003b953cc3e9.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/1c45e28f8e86cc89876f003b953cc3e9.svg#SF Pro Text") format("svg");
 }

.section-text__container .send-resume button{
	background: #D2001C;
	border-radius: 4px;
	border: none;
	width: 280px;
	height: 44px;
	font-family: 'SF Pro Text';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
	cursor: pointer;
	outline: none;
	letter-spacing: -0.7px;
}

@media only screen and (max-width: 915px) {
    .section-text__container .send-resume button{
    	width: 240px;
	} 
}

p{
	font-family: 'SF Pro Text';
	font-weight: 500;
	letter-spacing: -0.7px;
}
.section-text__container{
	display: flex;
	align-items: flex-start;
}
.left-paragraphs{
	max-width: 708px;
	margin-left: 187px;
	color: #4D4D4D;
}

@media only screen and (max-width: 915px) {
    .left-paragraphs{
    	margin-left: 30px;
	} 
}

@media only screen and (max-width: 670px) {
	.left-paragraphs{
		margin-left: 0;
	}
}

.left-paragraphs p span{
	color: #D2001C;
}
.section-text__container .send-resume p{
	color: #C4C4C4;
	font-size: 14px;
	line-height: 17px;
}

.section-text__container .send-resume h2{
	padding-bottom: 15px;
}
.section-company__team{
	margin-bottom: 40px;
	position: relative;
}
.background-picture__container{
	padding-bottom: 40px;
	padding-top: 35px;
	width: 100%;
}

@media only screen and (max-width: 670px) {
	.background-picture__container{
		padding-top: 0;
		padding-bottom: 10px;
	}
}

.section-company__team .container-1 .background-picture__container img{
	width: 100%;
}
@media only screen and (max-width: 670px) {
	.section-company__team .container-1 .background-picture__container img{
		max-width: 100vw;
	}
}
.section-company__team .section-text__container .left-paragraphs p{
	font-size: 16px;
	line-height: 19px;
	font-style: normal;
}

@media only screen and (max-width: 1200px) {
    .section-company__team .section-text__container .left-paragraphs p{
    	font-size: 14px;
	} 
}

.section-about .container-1 a{
	outline: none;
	text-decoration: none;
	color: #4D4D4D;
	font-family: SF Pro Display;
	line-height: 19px;
	font-style: normal;
	font-weight: normal;
	text-decoration-line: underline;
	font-size: 16px;
}

@media only screen and (max-width: 1200px) {
   .section-about .container-1 a{
    	font-size: 14px;
	} 
}

.section-about .container-1 a:not(:last-child){
	margin-right: 129px;
}

@media only screen and (max-width: 1200px) {
   .section-about .container-1 a:not(:last-child){
	   	margin-right: 50px;
   }
}

@media only screen and (max-width: 915px) {
   .section-about .container-1 a:not(:last-child){
	   	margin-right: 30px;
   }
}
.section-about .container-1 a:hover{
	cursor: pointer;
	color: #D2001C;
}
.section-about .container-1 a img{
	margin-left: 15px;
}
.section-about .container-1 h2{
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	color: #222222;
	letter-spacing: -0.7px;
}

@media only screen and (max-width: 1200px) {
    .section-about .container-1 h2{
    	font-size: 22px;
	} 
}

@media only screen and (max-width: 915px) {
    .section-about .container-1 h2{
    	font-size: 18px;
	} 
}

@media only screen and (max-width: 670px) {
    .section-links__holder{
    	display: flex;
    	flex-direction: column;
	} 
}

@media only screen and (max-width: 670px) {
    .a-link:not(:last-child){
    	margin-bottom: 15px;
    	width: 100vw;
	} 
}


.section-grey__background{
	padding-top: 70px;
	padding-bottom: 105px;
}

@media only screen and (max-width: 1200px) {
    .section-grey__background{
	    padding-bottom: 0;
	} 
}

.grey-container{
	background-color: #F9F9F9;
	max-width: 1440px;
	margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
    .grey-container{
	    max-width: 900px;
	} 
}

@media only screen and (max-width: 915px) {
    .grey-container{
	    max-width: 648px;
	}
}

.grey-text__icon{
	padding-left: 137px;
	padding-right: 137px;
	padding-top: 70px;
}

@media only screen and (max-width: 1200px) {
    .grey-text__icon{
	    padding-left: 10px;
		padding-right: 10px;
		padding-top: 20px;
	} 
}

.grey-holder{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.section-grey__background .grey-container .grey-text__icon h2{
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 43px;
	color: #222222;
}

@media only screen and (max-width: 1200px) {
    .section-grey__background .grey-container .grey-text__icon h2{
	    font-size: 26px;
	} 
}

.slider-icon__container{
	display: flex;
}

.grey-bottom-margin{
	padding-bottom: 63.39px;
	display: flex;
	justify-content: space-between;
}

@media only screen and (max-width: 1200px) {
    .grey-bottom-margin{
	   padding-bottom: 5px;
	} 
}

.iframe-border{
	border: none;
}

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.pop-up__container{
  width: 498px;
  height: 670px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 200;
  border-radius: 5px;
  transition: all 0.5s;
  padding: 15px;
}

@media only screen and (max-width: 915px) {
    .pop-up__container{
	   max-width: 40vw;
	   height: 610px;
	} 
}

@media only screen and (max-width: 670px) {
    .pop-up__container{
    	max-width: 80vw;
	} 
}

.button-container{
	display: flex;
	justify-content: flex-end;
}

.pop-up__container .button-container button{
	border: none;
	background-color: #ffffff;
	font-size: 16px;
	cursor: pointer;
	outline: none;
}


.pop-up__form{
	display: flex;
	flex-direction: column;
}

.pop-up__container .pop-up__form input{
	border: 1px solid #BDBDBD;
	padding: 12px;
	margin-bottom: 20px;
}

.pop-up__container .pop-up__form input[type=submit]{
	background: #D2001C;
	border-radius: 4px;
	width: 280px;
	height: 44px;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #fff;
	letter-spacing: -0.7px;
	margin: 0 auto;
	cursor: pointer;
	margin-bottom: 10px;
}

@media only screen and (max-width: 915px) {
    .pop-up__container .pop-up__form input[type=submit]{
    	width: 150px;
	} 
}

#textarea{
	border: 1px solid #BDBDBD;
	outline: none;
	margin-bottom: 20px;
}

@media only screen and (max-width: 915px) {
    #textarea{
    	margin-bottom: 10px;
	} 
}

.pop-up__container .pop-up__form label{
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	text-align: justify;
	margin-bottom: 7px;
	/*letter-spacing: -0.7px;*/
}

.pop-up__container .pop-up__form label:first-child{
	margin-top: 40px;
}

@media only screen and (max-width: 915px) {
    .pop-up__container .pop-up__form label:first-child{
    	margin-top: 10px;
	} 
}

.pop-up__container h2{
	text-align: center;
	font-size: 32px;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	line-height: 32px;
	color: #000000;
}

@media only screen and (max-width: 670px) {
    .pop-up__container h2{
	 font-size: 20px;
	} 
}
.pop-up__container span{
	font-size: 13px;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  display: none;
}

#scroll-arrow{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: none;
	font-size: 40px;
	background-color: #FED600;
	color: #000000;
	position: fixed;
	right: 42px;
	bottom: 105px;
	cursor: pointer;
	outline: none;
}

.slider {
  max-width: 1173px;
  height: 319px;
  position: relative;

  overflow: hidden;
}

.slide {
  width: 100%;
  height: 319px;

  display: flex;
  align-items: center;
  transition: transform 1s;
}

@media only screen and (max-width: 915px) {
	.slide{
		height: 150px;
	}
}

.slide2, .slide3{
	position: absolute;
	top: 0;
}

.slide iframe:not(:last-child){
	margin-right: 67px;
}

@media only screen and (max-width: 1200px) {
	.slide iframe:not(:last-child){
		margin-right: 30px;
	}
}

.btn-left, .btn-right{
	cursor: pointer;
}

.search-container{
	display: none;
	cursor: pointer;
}
@media only screen and (max-width: 915px) {
	.search-container{
		display: block;
	}
}

.mobile-boundary{
	position: relative;
}

.mobile-button__content{
	background-color: #fff;
	padding-left: 10px;
	padding-top: 10px;
	position: absolute;
	width: 652px;
	z-index: 200;
	margin-left: -7px;
	margin-top: 5px;
}

@media only screen and (max-width: 670px) {
    .mobile-button__content{
	    max-width: 100vw;
	    margin-top: 0;
	} 
}

.mobile-content__holder{
	display: flex;
	flex-direction: column;
}

.catalog-text{
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	outline: none;
	border-bottom: 1px solid rgb(189, 189, 189, 0.35);
	display: flex;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 2px;
}
.catalog-img{
	margin-left: 5px;
}
.catalog-background{
	background-color: #f1f1f1;
	border-bottom: none;
}

.enter{
	margin-right: 10px;
}
.enter:hover{
	text-decoration: underline;
}

.voiti{
	display: flex;
	align-items: center;
}

.voiti:hover{
	text-decoration: underline;
	color: #D2001C;
}

.catalog{
	display: flex;
	flex-direction: column;
}

.other-details{
	display: flex;
	flex-direction: column;
}

.no-display{
	display: none;
	visibility: hidden;
	opacity: 0;
}

.display{
	display: block !important;
}

.arrow-left{
	width:8px;
	margin-right: 10px;
}

@media only screen and (max-width: 670px) {
    #scroll-arrow{
		display: none;
	}
}

.catalog-text__phone{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.catalog-phone__time{
	font-size: 12px;
	color: #b5b5b5;
	margin-top: 3px;
}

.mobile-button__store{

}

.mobile-button__store{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	background-color: #D2001C;
	border: none;
	outline: none;
	color: #ffffff;
	border-radius: 3px;
}

.mobile-button__store img{
	margin-right: 10px;
}
.mobile-contact__icons{
	display: flex;
	flex-direction: row;
}